star {
    color: red;
}

.alert-danger {
    height: 150px !important;
}
.primary {
    background-color: #218882 !important;
}

.card-header-icon > i {
    color: #218882;
}

.icon-rose > i {
    color: #218882;
}

.btn {
    background-color: #218882 !important;
    color: #fff !important;
}

.exit > i {
    color: #fff;
    background-color: #218882 !important;
    border-radius: 30px;
    font-size: 20px;
    padding: 11px 11px;
    line-height: 1em;
    margin-top: -15px;
}

.contenedor {
    background-image: url("../../../public/img/doctora.png");
}
.logo_contenedor img {
    width: 500px;
    height: 300px;
    display: block;
    margin: auto;
    z-index: 1;
}
.bar_logo > img {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.card-header-icon > i {
    font-size: 2pc;
}

.login {
    display: block;
    margin-top: 8%;
}

.nomAuth {
    color: #fff;
}
.btn-login {
    box-shadow: none !important;
    background-color: #218882 !important;
    color: #fff;
}

//Carné vacunacion Tabla ( Avanzado )

.head-carne {
    background-color: #218882;
    color: #fff;
}

.signos_vacunas {
    text-align: center;
    margin: 0px 0px 0px 150px;
}

.titulo_carne {
    font-weight: 900 !important;
}

.table_avanc_info {
    width: 800px;
}

tr td {
    background-color: #fff !important;
    color: #999999;
}

.table_avanc:nth-child(1) {
    font-size: 10px !important;
    width: 10pc !important;
    background-color: aquamarine;
}

.table_avanc {
    width: 100%;
    background-color: #218882 !important;
    color: #fff;
}
.table_avanc tr {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.etiqueta_v th > .num_dosis {
    margin-right: 10px;
    font-size: 15px;
    font-weight: 900 !important;
}

.etiqueta_v th {
    background-color: #218882;
    font-size: 10px !important;
    font-weight: 500 !important;
    text-align: center;
}

.vacuna img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
}

.head-logo img {
    width: 250px !important;
    height: 200px !important;
    padding: 10px;
}

//Carné Vacunacion (Tradicional)

.table_carne_trad {
    width: 100%;
}

.table_carne_trad > tbody {
    background-color: #218882;
    color: #fff;
    padding: 2px;
}

.table_carne_trad th {
    color: #fff;
    font-size: 10px !important;
}
